<!--
  ~ This file is part of the Poppy Seed Pets Webapp.
  ~
  ~ The Poppy Seed Pets Webapp is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~ The Poppy Seed Pets Webapp is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with The Poppy Seed Pets Webapp. If not, see <https://www.gnu.org/licenses/>.
  -->
<p>
  <label for="itemName">Name (or part thereof)</label>
  <input type="text" id="itemName" name="itemName" [(ngModel)]="search.name" (keyup)="doChange()">
</p>
@if(!showMore)
{
  <p><button type="button" (click)="showMore = true" class="link-text">Show more...</button></p>
}
@else
{
  <div>
    <p><button type="button" (click)="doShowLess()" class="link-text">Show less...</button></p>
    <p>
      <label for="groupType">Type</label>
      <span>
        <select id="groupType" [(ngModel)]="search.type" (change)="doChange()">
          <option value="">Any</option>
          <option [value]="2">Astronomy Lab</option>
          <option [value]="1">Band</option>
          <option [value]="3">Gaming Group</option>
          <option [value]="4">Sportsball Team</option>
          <option [value]="5">Gardening Club</option>
        </select>
      </span>
    </p>
    @if(user)
    {
      <p>
        <label>Other Options</label>
        <span>
          <label class="radio-checkbox"><input name="onlyMyGroups" type="checkbox" [(ngModel)]="withPetsOwnedByCheckbox" (change)="doSetFilter('withPetsOwnedBy', withPetsOwnedByCheckbox ? user.id : null)"> Only show groups my pets are in</label>
        </span>
      </p>
    }
  </div>
}
