<!--
  ~ This file is part of the Poppy Seed Pets Webapp.
  ~
  ~ The Poppy Seed Pets Webapp is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~ The Poppy Seed Pets Webapp is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with The Poppy Seed Pets Webapp. If not, see <https://www.gnu.org/licenses/>.
  -->
<main>
  <h2>Smiling Wand</h2>
  <p>This wand will let you change the emoticons a pet shows when it's fed something it really likes.</p>

  @if(state === 'findPet')
  {
    <div>
      <h4>Which Pet?</h4>
      <app-select-pet (selected)="doSelectPet($event)" />
    </div>
  }
  @else if(state === 'changeExpressions')
  {
    <form (submit)="doSubmit()" [class.disabled]="!waveWandAjax.closed">
      <h4>Choose Three Icons</h4>
      <div class="icon-grid">
        @for(letter of letters; track letter)
        {
          <button type="button" role="checkbox" (click)="doToggleIcon(letter)" [class.selected]="letter|inArray:iconsSelected">
            <i [class]="emoteFontAwesomeClasses[letter]"></i>
          </button>
        }
      </div>
      <div class="buttons">
        <button type="submit" [class.disabled]="iconsSelected.length != 3">Wave the Wand over {{ pet.name }}!</button>
        <button class="link-text" type="button" (click)="doSelectPet(null)">Cancel</button>
        @if(!waveWandAjax.closed)
        {
          <app-loading-throbber text=""/>
        }
      </div>
    </form>
  }
</main>
