<!--
  ~ This file is part of the Poppy Seed Pets Webapp.
  ~
  ~ The Poppy Seed Pets Webapp is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~ The Poppy Seed Pets Webapp is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with The Poppy Seed Pets Webapp. If not, see <https://www.gnu.org/licenses/>.
  -->
<main>
  <h2><a routerLink="/poppyopedia">Poppyopedia</a> » Artists</h2>
  <section>
    <app-npc-dialog name="Aileen MacKay">
      <p>Hi, I'm on here as whasit! I made these lil pets forever ago.</p>
      <p>I made the following pets:</p>
      <ul>
        <li><img src="/assets/images/pets/bird/chickie.svg" alt="Chickie"></li>
        <li><img src="/assets/images/pets/bird/odd-flying-thing.svg" alt="Oft"></li>
        <li><img src="/assets/images/pets/elemental/a-d.svg" alt="A.D."></li>
        <li><img src="/assets/images/pets/elemental/cotton-candy.svg" alt="Cotton Candy"></li>
        <li><img src="/assets/images/pets/elemental/triangle.svg" alt="Triangle"></li>
        <li><img src="/assets/images/pets/amphibian/ba-ha.svg" alt="Fish with Legs"></li>
        <li><img src="/assets/images/pets/fungus/mushroom.svg" alt="Mushroom"></li>
        <li><img src="/assets/images/pets/mammal/bunny.svg" alt="Bunny"></li>
        <li><img src="/assets/images/pets/mammal/mole.svg" alt="Mole"></li>
        <li><img src="/assets/images/pets/mammal/much-cuter-mousie.svg" alt="Mousie"></li>
        <li><img src="/assets/images/pets/mammal/roundish.svg" alt="Roundish"></li>
        <li><img src="/assets/images/pets/monotreme/desikh.svg" alt="Desikh"></li>
        <li><img src="/assets/images/pets/mammal/star-monkey.svg" alt="Star Monkey"></li>
        <li><img src="/assets/images/pets/bird/bi-colored-peacock.svg" alt="Peacock"></li>
        <li><img src="/assets/images/pets/bird/parrot.svg" alt="Parrot"></li>
        <li><img src="/assets/images/pets/fish/porkfish.svg" alt="Porkfish"></li>
        <li><img src="/assets/images/pets/mammal/hedgehog.svg" alt="Hedgehog"></li>
        <li><img src="/assets/images/pets/mammal/eee-piggie.svg" alt="Ham"></li>
        <li><img src="/assets/images/pets/mammal/whale.svg" alt="Dwarf Sky Whale"></li>
        <li><img src="/assets/images/pets/monotreme/the-bones.svg" alt="The Bones"></li>
        <li><img src="/assets/images/pets/mammal/grar.svg" alt="Grar"></li>
      </ul>
      <p>And the following spirit companions:</p>
      <ul class="spirit-companions">
        <li><img src="/assets/images/companions/blob.svg"></li>
        <li><img src="/assets/images/companions/dino.svg"></li>
        <li><img src="/assets/images/companions/erm.svg"></li>
        <li><img src="/assets/images/companions/jellyfish.svg"></li>
        <li><img src="/assets/images/companions/sooty.svg"></li>
        <li><img src="/assets/images/companions/splat.svg"></li>
        <li><img src="/assets/images/companions/haha.svg"></li>
        <li><img src="/assets/images/companions/rsuusd-bat.svg"></li>
        <li><img src="/assets/images/companions/sea-monster.svg"></li>
        <li><img src="/assets/images/companions/wtf.svg"></li>
      </ul>
    </app-npc-dialog>
  </section>
  <section>
    <app-npc-dialog name="Ben Hendel-Doying">
      <p>Besides Poppy Seed Pets, I make all kinds of stuff! Check some of it out on <a href="https://store.steampowered.com/search/?publisher=benmakesgames.com" target="_blank">Steam</a>, <a href="https://benmakesgames.itch.io" target="_blank">itch.io</a>, and <a href="http://benmakesgames.com" target="_blank">benmakesgames.com</a>!</p>
      <p>I made the UI, items, plants, and the following pets:</p>
      <ul>
        <li><img src="/assets/images/pets/lizard/sneqo.svg" alt="Sneqo"></li>
        <li><img src="/assets/images/pets/mammal/bulbun.svg" alt="Bulbun"></li>
        <li><img src="/assets/images/pets/slime/amalgam.svg" alt="Amalgam"></li>
        <li><img src="/assets/images/pets/mammal/noombat.svg" alt="Noombat"></li>
        <li><img src="/assets/images/pets/mammal/tentacat.svg" alt="Tentacat"></li>
        <li><img src="/assets/images/pets/bird/eggid.svg" alt="Eggid"></li>
        <li><img src="/assets/images/pets/elemental/head.svg" alt="Head"></li>
        <li><img src="/assets/images/pets/mammal/catmouse.svg" alt="Catmouse"></li>
        <li><img src="/assets/images/pets/plant/tomate.svg" alt="Tomate"></li>
        <li><img src="/assets/images/pets/lizard/lilzilla.svg" alt="Lilzilla"></li>
        <li><img src="/assets/images/pets/mammal/jelephant.svg" alt="Jelephant"></li>
        <li><img src="/assets/images/pets/lizard/poppy-dragon.svg" alt="Poppy Dragon"></li>
        <li><img src="/assets/images/pets/cephalopod/sentinel.svg" alt="Sentinel"></li>
        <li><img src="/assets/images/pets/bug/novendecipede.svg" alt="Novendecipede"></li>
        <li><img src="/assets/images/pets/machine/grabber.svg" alt="Grabber"></li>
        <li><img src="/assets/images/pets/bug/sentient-beetle.svg" alt="Sentient Beetle"></li>
        <li><img src="/assets/images/pets/gastropod/just-a-snail.svg" alt="Giant Snail"></li>
        <li><img src="/assets/images/pets/plant/pear.svg" alt="Poire"></li>
        <li><img src="/assets/images/pets/bird/mochabo.svg" alt="Mochabo"></li>
        <li><img src="/assets/images/pets/mammal/pvirla.svg" alt="Pvirla"></li>
        <li><img src="/assets/images/pets/slime/flaand.svg" alt="Flaand"></li>
        <li><img src="/assets/images/pets/mammal/alot.svg" alt="Alot"></li>
        <li><img src="/assets/images/pets/elemental/earthkin.svg" alt="Earthkin"></li>
        <li><img src="/assets/images/pets/lizard/flightless-oniontail.svg" alt="Flightless Onion-tail"></li>
        <li><img src="/assets/images/pets/bird/dapper-swan.svg" alt="Dapper Swan"></li>
        <li><img src="/assets/images/pets/elemental/fog.svg" alt="Fog Elemental"></li>
        <li><img src="/assets/images/pets/plant/lily-of-the-sea.svg" alt="Lily of the Sea"></li>
        <li><img src="/assets/images/pets/mammal/possumdrop.svg" alt="Possum Drop"></li>
        <li><img src="/assets/images/pets/fungus/square.svg" alt="Parapet Mushroom"></li>
        <li><img src="/assets/images/pets/fish/wibbly.svg" alt="Merdragon"></li>
        <li><img src="/assets/images/pets/plant/shrub.svg" alt="Shrublin"></li>
        <li><img src="/assets/images/pets/elemental/tig's.svg" alt="◻◻◻◻"></li>
        <li><img src="/assets/images/pets/bird/naner.svg" alt="Nanerbird"></li>
        <li><img src="/assets/images/pets/cephalopod/yyrn.svg" alt="Yyrn"></li>
        <li><img src="/assets/images/pets/mammal/pipe-rat.svg" alt="Pipe Rat"></li>
        <li><img src="/assets/images/pets/lizard/gelp.svg" alt="Gelp"></li>
        <li><img src="/assets/images/pets/mammal/upo.svg" alt="Upo"></li>
        <li><img src="/assets/images/pets/lizard/rho.svg" alt="Rho"></li>
        <li><img src="/assets/images/pets/spirit/bone.svg" alt="Pobo"></li>
        <li><img src="/assets/images/pets/mammal/diaboru.svg" alt="Diaboru"></li>
        <li><img src="/assets/images/pets/bird/noucan.svg" alt="Noucan"></li>
        <li><img src="/assets/images/pets/lizard/screamer.svg" alt="Tufted Screamer"></li>
        <li><img src="/assets/images/pets/bird/phoenix.svg" alt="Phoenix"></li>
        <li><img src="/assets/images/pets/mammal/miip.svg" alt="Miip"></li>
        <li><img src="/assets/images/pets/elemental/glyryvyru.svg" alt="Glyryvyru"></li>
        <li><img src="/assets/images/pets/slime/wiy.svg" alt="Wiy"></li>
        <li><img src="/assets/images/pets/scyphozoa/jelling.svg" alt="Sága Jelling"></li>
        <li><img src="/assets/images/pets/lizard/missing-link.svg" alt="ML-52β"></li>
        <li><img src="/assets/images/pets/monotreme/pogger.svg" alt="Pogger"></li>
        <li><img src="/assets/images/pets/slime/handhat.svg" alt="Handhat"></li>
        <li><img src="/assets/images/pets/lizard/walking-angler.svg" alt="Walking Angler"></li>
        <li><img src="/assets/images/pets/bug/bee.svg" alt="Giant Bee"></li>
        <li><img src="/assets/images/pets/fish/star-eyed-tiger-discus.svg" alt="Star-eyed Tiger Discus"></li>
        <li><img src="/assets/images/pets/elemental/infinity-imp.svg" alt="Infinity Imp"></li>
        <li><img src="/assets/images/pets/lizard/turtle.svg" alt="Tortle"></li>
        <li><img src="/assets/images/pets/elemental/flour-wisp.svg" alt="Flour Wisp"></li>
        <li><img src="/assets/images/pets/lizard/fork-tongued-rizald.svg" alt="Fork-tongued Rizald"></li>
        <li><img src="/assets/images/pets/machine/cooking-buddy.svg" alt="Cooking Buddy"></li>
        <li><img src="/assets/images/pets/mammal/pebble.svg" alt="Pebble"></li>
        <li><img src="/assets/images/pets/spirit/totally-hair.svg" alt="Kejoro"></li>
        <li><img src="/assets/images/pets/lizard/gobbun.svg" alt="Gobbun"></li>
        <li><img src="/assets/images/pets/mammal/pricklepounce.svg" alt="Pricklepounce"></li>
        <li><img src="/assets/images/pets/bird/leaf-dove.svg" alt="Leaf Dove"></li>
        <li><img src="/assets/images/pets/monotreme/bear-frog.svg" alt="Bear Frog"></li>
        <li><img src="/assets/images/pets/bird/red-piper.svg" alt="Red Piper"></li>
        <li><img src="/assets/images/pets/mammal/miocene-azawakh.svg" alt="Miocene Azawakh"></li>
        <li><img src="/assets/images/pets/spirit/cat-ghost.svg" alt="Catacomb Spirit"></li>
        <li><img src="/assets/images/pets/mammal/longnose-jerboa.svg" alt="Long-nose Jerboa"></li>
        <li><img src="/assets/images/pets/mammal/duster-tail-fox.svg" alt="Duster-tailed Fox"></li>
        <li><img src="/assets/images/pets/mammal/squirrel.svg" alt="Quirl"></li>
        <li><img src="/assets/images/pets/amphibian/false-frog.svg" alt="False Frog"></li>
        <li><img src="/assets/images/pets/amphibian/cloud-seal.svg" alt="Cloud Seal"></li>
        <li><img src="/assets/images/pets/plant/binauris-frutex.svg" alt="Binauris Frutex"></li>
        <li><img src="/assets/images/pets/mammal/juramaia.svg" alt="Juramaia"></li>
      </ul>
      <p>And the following spirit companion:</p>
      <ul class="spirit-companions">
        <li><img src="/assets/images/companions/square.svg"></li>
      </ul>
    </app-npc-dialog>
  </section>
  <section>
    <!-- wolfi -->
    <app-npc-dialog name="Sabrina Silli">
      <p>I made the following pets:</p>
      <ul>
        <li><img src="/assets/images/pets/bird/short-tailed-pochard.svg" alt="Short-tailed Pochard"></li>
        <li><img src="/assets/images/pets/mammal/giraffalo.svg" alt="Giraffalo"></li>
        <li><img src="/assets/images/pets/mammal/rainbow-dolphin.svg" alt="Rainbow Dolpin"></li>
        <li><img src="/assets/images/pets/mammal/unicorn.svg" alt="Unicorn"></li>
      </ul>
    </app-npc-dialog>
  </section>
  <section>
    <app-npc-dialog name="Hae-Rhee">
      <p>I made the following pet:</p>
      <ul>
        <li><img src="/assets/images/pets/bird/hatoful.svg" alt="Hatoful"></li>
      </ul>
      <p>And the following spirit companion:</p>
      <ul class="spirit-companions">
        <li><img src="/assets/images/companions/cat-snake.svg"></li>
      </ul>
    </app-npc-dialog>
  </section>
  <section>
    <app-npc-dialog name="TBNRskye">
      <p>I made the following pet:</p>
      <ul>
        <li><img src="/assets/images/pets/mammal/star-belly.svg" alt="Denebelly"></li>
      </ul>
      <p>And the following spirit companion:</p>
      <ul class="spirit-companions">
        <li><img src="/assets/images/companions/icicle.svg"></li>
      </ul>
    </app-npc-dialog>
  </section>
  <section>
    <app-npc-dialog name="Moopyloots">
      <p>I made the following pets:</p>
      <ul>
        <li><img src="/assets/images/pets/cephalopod/hexastrephidae.svg" alt="Hexastrephidae"></li>
        <li><img src="/assets/images/pets/mammal/pegasus.svg" alt="Pegasus"></li>
      </ul>
    </app-npc-dialog>
  </section>
  <section>
    <app-npc-dialog name="Pi">
      <p>I made the following pet:</p>
      <ul>
        <li><img src="/assets/images/pets/lizard/majestosa.svg" alt="Majestosa"></li>
        <li><img src="/assets/images/pets/lizard/arnoldsons-chlamydosaurus.svg" alt="Arnoldson's Chlamydosaurus"></li>
      </ul>
    </app-npc-dialog>
  </section>
  <section>
    <app-npc-dialog name="Mothnox">
      <p>I made the following pet:</p>
      <ul>
        <li><img src="/assets/images/pets/lizard/painter-gecko.svg" alt="Painter Gecko"></li>
      </ul>
    </app-npc-dialog>
  </section>
  <section>
    <app-npc-dialog name="Vermidia">
      <p>I made some UI, items, and the following pet:</p>
      <ul>
        <li><img src="/assets/images/pets/monotreme/wibblet.svg" alt="Wibblet"></li>
      </ul>
    </app-npc-dialog>
  </section>
  <section>
    <app-npc-dialog name="ash!!">
      <p>I made the following pet:</p>
      <ul>
        <li><img src="/assets/images/pets/mammal/salad.svg" alt="Salad"></li>
      </ul>
    </app-npc-dialog>
  </section>
  <section>
    <app-npc-dialog name="Alexie">
      <p>Heyo, I like goblins. I made the following pet:</p>
      <ul>
        <li><img src="/assets/images/pets/bug/notcat.svg" alt="Cat-- er... pillar?"></li>
      </ul>
    </app-npc-dialog>
  </section>
  <section>
    <app-npc-dialog name="lyrakknid">
      <p>I made the following pet:</p>
      <ul>
        <li><img src="/assets/images/pets/crustacean/habercraber.svg" alt="Habercraber"></li>
      </ul>
    </app-npc-dialog>
  </section>
  <section>
    <app-npc-dialog name="Moon">
      <p>I made the following pet:</p>
      <ul>
        <li><img src="/assets/images/pets/bird/serapin.svg" alt="Serapin"></li>
      </ul>
    </app-npc-dialog>
  </section>
  <section>
    <app-npc-dialog name="Wild Flemima">
      <p>I made the following pet:</p>
      <ul>
        <li><img src="/assets/images/pets/monotreme/cat.svg" alt="Felidna"></li>
      </ul>
    </app-npc-dialog>
  </section>
  <section>
    <app-npc-dialog name="GitHub">
      <p>The following logo is a trademark of GitHub:</p>
      <ul>
        <li style="width:0.33in; height:0.33in"><img src="/assets/images/ui/github.svg" alt="GitHub logo" /></li>
      </ul>
    </app-npc-dialog>
  </section>
  <section>
    <app-npc-dialog name="Patreon">
      <p>The following logo is a trademark of Patreon:</p>
      <ul>
        <li style="width:0.33in; height:0.33in"><img src="/assets/images/ui/patreon.svg" alt="Patreon logo" /></li>
      </ul>
    </app-npc-dialog>
  </section>
</main>
